<div class="row">
  <div class="col-sm-6 ms-4">
    <p>
      <a href="#">New Product</a> - <a href="#">Return</a>
    </p>
    <h1>List of Products</h1>
    <ul>
      <% @products.each do |product| %>
        <li> <%= product.name %>  <a href="#">Edit</a> - <a href="#">Delete</a> </li>
      <%end%>
    </ul>
  </div>
</div>
